@media print {
	body { transform: none !important; }
	h1 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; font-weight: 300; }
	.slide-root { width: 100%; display: flex; flex-wrap: wrap; align-items: stretch; }
	.slide-content { transform: none !important; }
	.slide {
		display: flex;
		justify-content: center;
		flex: 1;
		padding: 0.5rem;
		margin: 0.5rem 0.5rem 4rem 0.5rem;
		border: 1px solid rgba(0, 0, 0, 0.2);
		visibility: visible !important;
	}
}